@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?o7dnet');
  src:  url('fonts/icomoon.eot?o7dnet#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?o7dnet') format('truetype'),
    url('fonts/icomoon.woff?o7dnet') format('woff'),
    url('fonts/icomoon.svg?o7dnet#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eye:before {
  content: "\e924";
}
.icon-minus:before {
  content: "\e925";
}
.icon-filter:before {
  content: "\e926";
}
.icon-tick:before {
  content: "\e923";
}
.icon-plus:before {
  content: "\e91c";
}
.icon-user:before {
  content: "\e91d";
}
.icon-list:before {
  content: "\e91e";
}
.icon-location:before {
  content: "\e91f";
}
.icon-grid:before {
  content: "\e920";
}
.icon-download:before {
  content: "\e921";
}
.icon-arrow:before {
  content: "\e922";
}
.icon-eye-closed:before {
  content: "\e91a";
}
.icon-cancle:before {
  content: "\e91b";
}
.icon-liked:before {
  content: "\e919";
  color: #f00;
}
.icon-like:before {
  content: "\e901";
}
.icon-suitcase:before {
  content: "\e90b";
}
.icon-repair:before {
  content: "\e90c";
}
.icon-chemical:before {
  content: "\e90d";
}
.icon-garden:before {
  content: "\e90e";
}
.icon-house:before {
  content: "\e90f";
}
.icon-car:before {
  content: "\e910";
}
.icon-automotive:before {
  content: "\e911";
}
.icon-recreation:before {
  content: "\e912";
}
.icon-utensils:before {
  content: "\e913";
}
.icon-electronics:before {
  content: "\e914";
}
.icon-technique:before {
  content: "\e915";
}
.icon-pencil:before {
  content: "\e916";
}
.icon-jewelry:before {
  content: "\e917";
}
.icon-health:before {
  content: "\e918";
}
.icon-beauty:before {
  content: "\e906";
}
.icon-footwear:before {
  content: "\e907";
}
.icon-cart:before {
  content: "\e908";
}
.icon-men:before {
  content: "\e909";
}
.icon-women:before {
  content: "\e90a";
}
.icon-doubleDown:before {
  content: "\e902";
}
.icon-down:before {
  content: "\e903";
}
.icon-search:before {
  content: "\e904";
}
.icon-exit:before {
  content: "\e905";
}
.icon-phone:before {
  content: "\e900";
}
